* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.site-layout {
  background-color: white;
  margin-left: 250px;
}

.margin-top {
  margin-top: 50px;
}

.scroll-app {
  height: 770px;
  overflow-y: scroll;
}

.scroll-app::-webkit-scrollbar {
  display: none;
}

.loading-spin-infinte {
  margin: 0;
  padding: 100px;
}

.display-loader {
  margin: 100px;
}

.form-div {
  display: flex;
  justify-content: center;
  padding: 100px;
  align-items: center;
  background-color: white;
}

.form-box {
  background-color: #bed9ff;
  padding: 40px 20px 50px;
  border-radius: 8px;
  width: 30%;
  height: auto;
}

.sign-box {
  background-color: #bed9ff;
  padding: 40px 20px 50px;
  border-radius: 8px;
}

.form-title {
  text-align: center;
  margin: 0 0 30px;
}

.login-form-button {
  width: 100%;
}

.login-form-button span {
  text-align: center;
}

.style-link {
  display: flex;
  justify-content: end;
  margin: 5px 10px 0 0;
}

/* --------------------------------HOME PAGE---------------------------------- */

.logo {
  font-size: 32px;
  color: #fff;
  margin: 0 0 0 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
  background-color: #001529;
  box-shadow: rgba(60 64 67 30%) 0 1px 2px 0, rgba(60 64 67 15%) 0 1px 3px 1px;
}

.post-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0 0;
}

:where(.css-dev-only-do-not-override-1ck3jst).ant-menu-light
  .ant-menu-item-selected {
  background-color: transparent;
}

.button-logout {
  margin-right: 30px;
}

.loading {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 100px;
  border: 5px solid #3087ff;
  border-top: 6px solid #bed9ff;
  animation: spin 2s infinite linear;
}

.loading-spin {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.content {
  padding: 50px;
  border-radius: 4px;
}

.active {
  background-color: #1677ff;
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
  margin: 8px;
}

.sidebar-icon {
  font-size: 20px;
  margin: 0 0 0 10px;
}

.active label,
.active .sidebar-icon {
  color: white;
}

.inactive {
  background-color: transparent;
  color: #bebebe;
  padding: 10px 10px 10px 20px;
  margin: 8px;
  cursor: pointer;
}

.inactive label,
.inactive .sidebar-icon {
  color: #bebebe;
}

.label-sidebar {
  margin: 0 0 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.active-navbar {
  background-color: #1677ff;
  padding: 10px 50px 10px 0;
  border-radius: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------POSTS---------------------------------- */

.post-main {
  margin: 10px;
  border-radius: 8px;
  background-color: #bed9ff;
  padding: 5px;
  box-shadow: rgba(0 0 0 24%) 0 3px 8px;
  width: 70%;
}

.card-div {
  box-shadow: rgba(100 100 111 20%) 0 7px 29px 0;
  width: 70%;
}

.posts-container {
  display: flex;
  justify-content: center;
}

.post-head {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px 10px 8px;
  border: 1px solid #ff8b8b;
  border-radius: 8px;
}

.post-user {
  display: flex;
}

.post-username {
  font-size: 16px;
  font-weight: 600;
}

.post-date {
  font-size: 15px;
}

.image-container {
  width: 50px;
  height: 50px;
  border: 1px solid #1677ff;
  border-radius: 50%;
}

.text-conatainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text-profile {
  color: rgb(255 255 255);
  font-size: 24px;
  background-color: #3087ff;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 8px 0 0;
}

.post-section {
  margin: 0 0 0 10px;
}

.post-text {
  margin: 10px 10px 10px 20px;
  font-size: 16px;
}

.post-input {
  height: 40px;
  width: 450px;
  margin: 0 10px 0 0;
}

.limit-text {
  z-index: 9;
  color: red;
  text-align: center;
  margin: 10px 0 0;
}

.update-delete {
  position: absolute;
  width: 150px;
  background-color: #fff9f9;
  right: 10%;
  border-radius: 8px;
  box-shadow: rgba(0 0 0 24%) 0 3px 8px;
}

.delete-button,
.update-button {
  padding: 5px;
  cursor: pointer;
}

.delete-button:hover,
.update-button:hover {
  background-color: #1677ff;
  color: white;
  border-radius: 4px;
}

.edited-text {
  margin-top: 10px;
  color: #ff4a4a;
}

.link-style {
  text-decoration: none !important;
  color: rgb(27 26 26);
}

.post-feature-buttons {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.skeleton-div {
  width: 70%;
  margin: 0 auto;
}

.like-count-text {
  margin: 0 0 0 10px;
}

/* --------------------------------RESPONSIVE NAV---------------------------------- */

.nav-icon {
  margin: 12px;
  font-size: 16px;
}

.responsive-nav-container {
  text-align: end;
  margin: 0 30px 0 0;
  position: relative;
}

.nav-icon-main {
  font-size: 32px;
  color: #fff;
}

.responsive-nav {
  width: 200px;
  background-color: #001529;
  position: absolute;
  right: 0%;
  z-index: 10;
  border-radius: 8px;
}

.res-active-navbar {
  background-color: #1677ff;
}

.res-active-navbar p {
  color: white;
}

.res-active-navbar .nav-icon {
  color: white;
}

.responsive-nav-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

/* --------------------------------PROFILE SECTION---------------------------------- */

.profile-main {
  padding: 10px 0;
}

.profile-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-payout-div {
  display: block;
}

.profile-layout {
  background-color: rgb(255 255 255);
}

.image-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #1677ff;
}

.profile-image-conatainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-image-circle {
  background-color: #1677ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  color: white;
}

.username-profile {
  font-size: 20px;
  font-weight: 600;
  color: #1677ff;
}

.email-profile {
  font-size: 15px;
  font-weight: 500;
  color: #3087ff;
  margin: 5px 0;
}

.bio-profile {
  font-size: 15px;
  color: #6ba9ff;
  font-weight: 500;
  margin: 10px 0;
}

.ant-modal {
  display: flex;
  justify-content: center;
}

.ant-modal-content {
  width: 400px;
}

.user-posts {
  font-size: 22px;
  text-align: center;
  color: #3087ff;
  font-weight: 600;
  margin-top: 30px;
}

/* --------------------------------COMMENT SECTION---------------------------------- */

.comment-post-title {
  font-size: 24px;
  font-weight: 600;
  color: #3087ff;
  margin: 10px 0 0 20px;
  text-align: center;
}

.no-comments-text {
  font-size: 24px;
  font-weight: 600;
  color: #3087ff;
  margin: 30px 0 0;
  text-align: center;
}

.like-title {
  font-size: 22px;
  text-align: center;
  color: #3087ff;
  margin-top: 10px;
}

/* --------------------------------PROFILE SECTION---------------------------------- */

.table-div {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  color: chocolate;
  display: flex;
  justify-content: center;
}

.pro-table {
  padding: 0 30px;
}

.pro-table-main {
  width: 100%;
  box-shadow: rgba(100 100 111 20%) 0 7px 29px 0;
  border-radius: 8px;
}

.display-edit {
  display: block;
}

.display-none {
  display: none;
}

/* --------------------------------MEDIA QUERIES---------------------------------- */

@media (width <= 620px) {
  .form-div {
    padding: 100px 20px;
  }

  .form-box {
    width: 70% !important;
    height: auto;
  }

  .sign-box {
    width: 50%;
  }

  .sider {
    display: none;
  }

  .button-logout {
    display: none;
  }

  .site-layout {
    margin-left: 0;
  }

  .post-input {
    height: 40px;
    width: 280px;
    margin: 0 10px 0 0;
  }

  .post-main {
    width: 90%;
  }

  .post-feature-buttons {
    margin: 8px;
  }

  .pro-table {
    padding: 0 10px;
  }
}

@media (width <= 400px) {
  .post-input {
    width: 170px;
  }

  .sign-box {
    width: 80%;
    height: 50vh;
  }
}

@media (width >= 621px) {
  .responsive-nav-container {
    display: none;
  }

  .sign-box {
    width: 30%;
  }

  .post-input {
    height: 40px;
    width: 300px;
    margin: 0 10px 0 0;
  }
}

@media (width <= 950px) {
  .form-div {
    padding: 100px 0;
  }

  .form-box {
    width: 40%;
    height: auto;
  }

  .card-div {
    width: 100%;
  }

  .skeleton-div {
    width: 90%;
    margin: 0 auto;
  }
}
